name: Expense Tracker Lite CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  # test:
  #   name: Test Files
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout Code
  #       uses: actions/checkout@v4
  #     - name: Set up Flutter
  #       uses: subosito/flutter-action@v2
  #       with:
  #         flutter-version: '3.32.4' 
  #     - name: Install Dependencies
  #       run: flutter pub get
  #     - name: Analyze code
  #       run: flutter analyze
  #     - name: Run Tests
  #       run: flutter test
  # 
  # build-apk-and-distribute:
  #   name: Build Apk for Firebase
  #   runs-on: ubuntu-latest
  #   needs: test
  #   steps:
  #     - name: Checkout Code
  #       uses: actions/checkout@v4
  #     - name: Set up Flutter
  #       uses: subosito/flutter-action@v2
  #       with:
  #         flutter-version: '3.32.4'
  #     - name: Install Dependencies
  #       run: flutter pub get
  #     - name: Run Tests
  #       run: flutter test
  #     - name: Build APK
  #       run: flutter build apk --release
  #     - name: Upload Artifact
  #       uses: actions/upload-artifact@v4
  #       with:
  #         name: app-release-apk
  #         path: build/app/outputs/flutter-apk/app-release.apk
  #     - name: Install Firebase CLI
  #       run: npm install -g firebase-tools
  #     - name: Distribute to Firebase
  #       env:
  #         FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
  #       run: |
  #         firebase appdistribution:distribute build/app/outputs/flutter-apk/app-release.apk \
  #           --app "${{ secrets.FIREBASE_APP_ID }}" \
  #           --groups "qa-testers" \
  #           --release-notes "Automated build from GitHub Actions"
  # 
  build-ios:
    name: Build iOS for TestFlight
    runs-on: macos-latest
    # needs: test
    steps:
      - uses: actions/checkout@v4

      - name: Setup Xcode version
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '16.4'

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.32.4'

      - name: Install dependencies
        run: flutter pub get

      - name: Build iOS
        run: flutter build ios --release --no-codesign

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4.7'
# 
      # - name: Setup git auth for Match
      #   run: |
      #     git config --global url."https://${{ secrets.MATCH_GIT_AUTH }}:x-oauth-basic@github.com/".insteadOf "https://github.com/"
  
      - name: Install Fastlane
        run: gem install fastlane

      - name: Fastlane Match Setup
        run: |
          fastlane match appstore
        env:
          APPLE_ID: ${{ secrets.APPLE_ID }}
          FASTLANE_PASSWORD: ${{ secrets.FASTLANE_PASSWORD }}
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          MATCH_GIT_URL: "https://${{ secrets.MATCH_GIT_AUTH }}:x-oauth-basic@github.com/OsamaElkot8/Expense-Lite.git"
          GIT_AUTHORIZATION: ${{ secrets.MATCH_GIT_AUTH }}

      - name: Deploy to TestFlight
        run: |
          cd ios
          fastlane beta
        env:
          APP_STORE_CONNECT_API_KEY_ID: ${{ secrets.APP_STORE_CONNECT_API_KEY_ID }}
          APP_STORE_CONNECT_API_ISSUER_ID: ${{ secrets.APP_STORE_CONNECT_API_ISSUER_ID }}
          APP_STORE_CONNECT_API_KEY: ${{ secrets.APP_STORE_CONNECT_API_KEY }}

